@import "fonts";
@import "margins";

:root {
  --dark-color: #000000;
  --light-color: #FFFF;
  --primary-color: #AE7AFF;
  --dark-hover-color: #161616;
}

body {
  font-family: "JetBrains Mono", sans-serif;
  color: var(--light-color);
  background: var(--dark-color) url(/assets/imgs/backgraund.png) center/cover no-repeat;
  height: 100dvh;
}

.skill-tag {
  padding: 4px 8px;
  border-radius: 4px;
  display: inline;
  border: 1px solid var(--light-color);
  font-size: 12px;
  font-width: 700;
  line-height: 24px;
  height: 24px;
}

.btn {
  width: 100%;
  border: none;
  background-color: var(--primary-color);
  color: var(--dark-color);
  padding: 10px 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
}

.h1 {
  font-size: 48px;
  line-height: 24px;
  font-weight: 800;
}

.tt-control-label {
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  display: block;
}

.tt-input {
  width: 100%;
  margin-top: 8px;
  display: block;
  border: 1px solid var(--light-color);
  border-radius: 4px;
  padding: 12px 20px;
  background: var(--dark-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  font-family: "JetBrains Mono", sans-serif;
  color: var(--light-color);
}

.h4 {
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: 32px;
}

.regular {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
}


